*{
    margin: 0;
    padding: 0;
}

.search-container{
    border: 1px solid black;
    width: 400px;
    height: 40px;
    padding: 10px;
}

.search-container>input{
    border: none;
    outline: none;
}

.navbar-icons-container>span{
    font-size: 20px;
    color: salmon;
    margin-left: 16px;
}

.product-navbar-item:hover{
    color: salmon;
    border-bottom: 4px solid salmon;
    cursor: pointer;
}

.offcanvas-item{
    font-weight: 400;
    cursor: pointer;
}

.hero-carousel{
    width: 90vw;
    height: 100vh;
    margin: 80px auto;
}

.hero-slider-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-section-glide__bullets{
    display: flex;
    justify-content: center;
    align-items: center;
}

.glide__bullet{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border-radius: 100%;
    margin: 5px 5px;
    cursor: pointer;
    background-color: rgb(182, 182, 182);
    border-color: transparent;
}
    
.glide__bullet--active {
    background-color: salmon;
}

.feature-col>img {
    width: 50px;
    height: 50px;
}


/* CSS for mobile devices (up to 767px) */
@media only screen and (max-width: 767px) {
    .hero-carousel {
        width: 100vw;
        height: 50vh;
        margin: 100px auto;
    }
    .features-container {
        width: 100vw;
        height: 100vh;
        /* margin-top: -450px; */
    }
    .feature-col>img {
        width: 30px;
        height: 30px;
    }
}

/* CSS for devices above mobile (768px and above) */
@media only screen and (min-width: 768px) {
    .hero-carousel {
        width: 90vw;
        height: 50vh;
        margin: 150px auto;
    }
    .features-container{
        width: 80vw;
        height: 100vh;
        margin-top: 250px;
    }
    .feature-col>img {
        width: 50px;
        height: 50px;
    }
}