*{
    margin: 0;
    padding: 0;
}

.search-container{
    border: 1px solid black;
    width: 400px;
    height: 40px;
    padding: 10px;
}

.search-container>input{
    border: none;
    outline: none;
}

.navbar-icons-container>span{
    font-size: 20px;
    color: salmon;
    margin-left: 16px;
}

.product-navbar-item:hover{
    color: salmon;
    border-bottom: 4px solid salmon;
    cursor: pointer;
}

.offcanvas-item{
    font-weight: 400;
    cursor: pointer;
}

.hero-carousel{
    width: 90vw;
    height: 100vh;
    margin: 80px auto;
}

.hero-slider-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-section-glide__bullets{
    display: flex;
    justify-content: center;
    align-items: center;
}

.glide__bullet{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border-radius: 100%;
    margin: 5px 5px;
    cursor: pointer;
    background-color: rgb(182, 182, 182);
    border-color: transparent;
}
    
.glide__bullet--active {
    background-color: salmon;
}

.feature-col>img {
    width: 50px;
    height: 50px;
}

/* exclusives section */
.exclusives-container{
    margin-top: 80px;
}

.exclusives-heading{
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
}

/* product-card */

.product-card{
    width: 18rem;
    height: auto;
    flex-shrink: 0;
}

.image-container{
    width: 100%;
    position: relative;
}

.image-container > i {
    position: absolute;
    right: 16px;
    top: 10px;
    padding: 12px;
    background-color: white;
    font-size: 18px;
    border-radius: 50px;
}

.essential-title{
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}


.explore-range:hover{
    background-color: salmon;
    color: white !important;
}

.essential-image-container {
    position: relative;
    overflow: hidden;
}

.essential-image-container img {
    transition: transform 0.3s ease;
}

.essential-image-container:hover img {
    transform: scale(1.05);
}

.enquiry-title {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

.enquiry-content {
    font-size: 13px;
    font-weight: 500;
}

.enquiry-link {
    color: salmon;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
}


/* footer styles */
.footer-main-container{
    background-color: rgba(75, 85, 99, 0.075);
}

.subscription-container{
    width: 100%;
}

.subscription-container > input{
    width: auto;
    height: auto;
    padding-left: 6px;
    padding-right: 6px;
    padding-top:7px;
    padding-bottom: 6px;
}

.subscription-container > span {
    padding: 8px;
    background-color: salmon;
    color: white;
    cursor: pointer;
}

.accordion-item,
.accordion-header{
    background-color: transparent !important;
    color: inherit;
}

/* CSS for mobile devices (up to 767px) */
@media only screen and (max-width: 767px) {
    .hero-carousel {
        width: 100vw;
        height: 50vh;
        margin: 100px auto;
    }
    .features-container {
        width: 100vw;
    }
    .feature-col>img {
        width: 30px;
        height: 30px;
    }
    .exclusive-products-card{
        width: 11rem;
        border: none;
    }
}

/* CSS for devices above mobile (768px and above) */
@media only screen and (min-width: 768px) {
    .hero-carousel {
        width: 90vw;
        height: 50vh;
        margin: 150px auto;
    }
    .features-container{
        width: 80vw;
        margin-top: 250px;
    }
    .feature-col>img {
        width: 50px;
        height: 50px;
    }
    .exclusive-products-card {
        width: 19rem;
        border: none;
    }
}


